*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{

    background:linear-gradient(135deg,#000000,#1c1c1c,#3a2f1f);
    min-height:100vh;

}

.overlay{

    width:100%;
    min-height:100vh;
    padding:30px;

}

.header{

    text-align:center;
    margin-top:20px;
    margin-bottom:40px;

}

.header h1{

    color:#FFD700;
    font-size:48px;
    letter-spacing:5px;

}

.header p{

    color:white;
    margin-top:10px;
    font-size:18px;
    font-weight:300;

}

.dashboard{

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:25px;

}

.card{

    background:white;
    border-radius:20px;
    padding:30px;
    text-align:center;
    cursor:pointer;
    transition:.3s;
    box-shadow:0 10px 25px rgba(0,0,0,.25);

}

.card:hover{

    transform:translateY(-10px);
    background:#FFD700;

}

.icon{

    font-size:50px;
    margin-bottom:15px;

}

.card h2{

    color:#222;
    margin-bottom:10px;

}

.card p{

    color:#666;

}

footer{

    margin-top:60px;
    text-align:center;
    color:white;
    font-size:14px;

}

@media(max-width:700px){

.header h1{

font-size:34px;

}

.dashboard{

grid-template-columns:1fr;

}

.card{

padding:25px;

}
    .welcome-box{

    background:rgba(255,255,255,.15);

    margin-top:20px;

    padding:20px;

    border-radius:15px;

    backdrop-filter:blur(10px);

    color:white;

    max-width:600px;

    margin-left:auto;

    margin-right:auto;

}

.welcome-box h3{

    margin-bottom:10px;

}

}
